@using login.Models.Entities
@{
   Proyecto project = ViewData["project"] as Proyecto;
}

<div class="content-form">
    <input type="hidden" value="@project.ImageUrl" id="projectImageUrl"/>
    <input type="hidden" value="@project.Id" id="projectId"/>
    <input type="hidden" value="@project.Nombre" id="projectName"/>
    <div class="form-login" id="signInForm">
        <h1>Inicia sesión en <strong>@project.Nombre</strong></h1>
        <div class="form-floating mb-3">
            <input class="form-control" type="email" name="email" id="email" placeholder="Correo electrónico" required />
            <label class="form-label" for="email"><i class="fas fa-envelope"></i>&nbsp;Correo electrónico:</label>
            <p class="text-danger"><small id="messageEmail"></small></p>
        </div>
        <div class="form-floating mb-3">
             <input type="password" class="form-control" name="pass" id="pass" placeholder="Contraseña" required aria-label="Contraseña"  aria-describedby="addon-wrapping" >
              <label class="form-label" for="pass"><i class="fas fa-key"></i>&nbsp;Contraseña:</label>
        </div>
        <div class="form-check form-switch text-left" style="text-align: left;">
            <input class="form-check-input" type="checkbox" role="switch" id="showHidePass" style="text-align: left;">
            <label class="form-check-label" for="showHidePass" style="float: left;">Ver contraseña</label>
        </div>
        <div class="forgot-password">
            <button data-bs-toggle="modal" data-bs-target="#restorePassModal" class="btn"><i class="bi bi-question-circle-fill"></i>&nbsp;¿Olvidase la contraseña?</button>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="button" id="sign-in-email-pass" class="btn sign-in" disabled><i class="fas fa-sign-in-alt"></i>&nbsp;Ingresar</button>
        </div>
        @{
            string[] authMethods = project.MetodosAutenticacion.Split(",");
            if(authMethods.Length > 1)
            {
                                <div class="oauth-services">
                                    <div class="divisor">
                                        <hr><p>o</p><hr>
                                    </div>
                                    <div class="row">
                                        @foreach(string method in authMethods)
                        {
                            if(method != "Correo y contrasena" && method != "Numero de telefono")
                            {
                                                <div class="col">
                                                    <button class="btn" id="@method" type="button"><i class="fab fa-@method.ToLower()"></i></button>
                                                </div>
                            } else if(method == "Numero de telefono")
                            {
                                                <div class="col">
                                                    <button class="btn" id="@method.Replace(' ','-')" type="button" data-bs-toggle="modal" data-bs-target="#signInPhoneModal"><i class="fas fa-phone"></i></button>
                                                </div>
                            }
                        }
                                    </div>
                                </div>
            }
        }
        <div class="loader-form">
            <div class="loader-form-spinner">
                <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
            </div>
    </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var redirectToUrl = "@project.Enlace"
    </script>
}
